@import "bootstrap.less";
@import "responsive.less";

// variables
@bodyPadding: 60px;
@typeOfDisplay: default;

.addBorderRadiusByDisplay () when (@typeOfDisplay = default) {
  .border-radius(6px);
}
.addBorderRadiusByDisplay () when (@typeOfDisplay = mobile) {
}

body {
  padding-top: @bodyPadding;
}
canvas {
  .addBorderRadiusByDisplay;
}

div#chatbox {
  .timestamp {
    display: inline-block;
    width: 30px;
  }
  .scrollable {
    .well;
    .well-small;
    height: 180px;
    overflow-y: scroll;
    background-color: @white;
  }
  form {
    margin-bottom: 0px;
  }
}

div#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 9000;
  background-color: @white;
  div.table {
    display:table;
    width: 100%;
    height: 100%;
    div.cell {
      display: table-cell;
      vertical-align: middle;
      div.progress {
        margin: auto;
        width: 200px;
      }
    }
  }
}
