extends layout

block content
  div.container
    div.row
      div.span12
        div.well.form-inline#register
          input.input-small(type='text', placeholder='username')
          &nbsp;
          button.btn#join Join
    div.row
      div.span3
        div#chatbox.well
          h1 chat
          hr
          div.scrollable
            p
              small.timestamp 05:23
              b joebalancio:&nbsp;
              span hello
          hr
          form
            textarea
            button.btn(type='submit') Submit
      div#poker.span9
        div#table
        div#actions.well.hide
          button.btn#call Call
          button.btn#raise Raise
          button.btn#check Check
          button.btn#fold Fold
          &nbsp;
          span.input-prepend
            span.add-on $
            input.input-mini(type='text')
        hr
        div.row
          div.span12
            h3 debug
            button.btn#add Add Player
    hr
    footer
      p Betfair Hackathon 2012
