extends layout

block content
  div.container
    div.row
      div.span12
        form.well.form-inline#register
          input.input-small(type='text', placeholder='username')
          &nbsp;
          button.btn(type='submit') Register
    div.row
      div.span3
        div#chatbox.well
          h1 chat
          hr
          div.scrollable
            p
              small.timestamp 05:23
              b joebalancio:&nbsp;
              span hello
          hr
          form
            textarea
            button.btn(type='submit') Submit
      div.span9
        div#pokerTable
        button.btn#deal1 Deal Player 1
        button.btn#deal2 Deal Player 2
        button.btn#deal3 Deal Player 3
        button.btn#deal4 Deal Player 4
        hr
        div.row
          div.span12
            h3 debug
            button.btn#add Add Player
    hr
    footer
      p Betfair Hackathon 2012
